@model IEnumerable<MSUi.Models.Patient>

@{
    ViewData["Title"] = "Liste des Patients";
}

<h2>@ViewData["Title"]</h2>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDeNaissance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateDeNaissance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tel)
                </td>
               
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
                    <a asp-action="Update" asp-route-id="@item.Id">Modifier</a>
                </td>
            </tr>
        }
    </tbody>
</table>
